<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxink.msys.managesys.mapper.ProContractMapper">
  <resultMap id="BaseResultMap" type="com.huanxink.msys.managesys.model.ProContract">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_enter_id" jdbcType="INTEGER" property="projectEnterId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="project_contract_no" jdbcType="VARCHAR" property="projectContractNo" />
    <result column="contract_sign_time" jdbcType="TIMESTAMP" property="contractSignTime" />
    <result column="contract_build_scale" jdbcType="VARCHAR" property="contractBuildScale" />
    <result column="contract_build_amount" jdbcType="DECIMAL" property="contractBuildAmount" />
    <result column="contract_type" jdbcType="VARCHAR" property="contractType" />
    <result column="tender_enter_id" jdbcType="INTEGER" property="tenderEnterId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updater" jdbcType="TIMESTAMP" property="updater" />
  </resultMap>
  <resultMap id="BaseJoinResultMap" type="com.huanxink.msys.managesys.model.dto.ProContractDo" extends="BaseResultMap">
    <result column="project_enter_name" jdbcType="VARCHAR" property="proEnterpriseName"/>
    <result column="tender_enter_name" jdbcType="VARCHAR" property="tenderEnterpriseName"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, project_enter_id, project_name, project_no, project_contract_no, contract_sign_time, 
    contract_build_scale, contract_build_amount, contract_type, tender_enter_id, created_time, 
    creater, updated_time, updater
  </sql>
  <sql id="Base_Join_Column_List">
    a.id, a.project_enter_id, a.project_name, a.project_no, a.project_contract_no, a.contract_sign_time,
    a.contract_build_scale, a.contract_build_amount, a.contract_type, a.tender_enter_id, a.created_time,
    a.creater, a.updated_time, a.updater, b.enterprise_name as project_enter_name, c.enterprise_name as tender_enter_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="seacherPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pro_contract
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
  </select>
  <select id="seacherJoinPageList" parameterType="java.util.Map" resultMap="BaseJoinResultMap">
    select
    <include refid="Base_Join_Column_List" />
    from pro_contract a left join enterprise b on  a.project_enter_id = b.id
    left join enterprise c  on a.tender_enter_id = c.id
    where 1=1
    <if test="id != null">
      and a.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="companyName !=null and companyName !=''">
      and b.enterprise_name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
    </if>
    <if test="proName !=null and proName !=''">
      and a.project_name like concat('%',#{proName,jdbcType=VARCHAR},'%')
    </if>
    <if test="proNo !=null and proNo !=''">
      and a.project_no like concat('%',#{proNo,jdbcType=VARCHAR},'%')
    </if>
    <if test="proContractNo !=null and proContractNo !=''">
      and  a.project_contract_no like concat('%',#{proContractNo,jdbcType=VARCHAR},'%')
    </if>
    <!--<if test="contractAmount !=null and contractAmount !=''">
      and a.contract_build_amount =#{contractAmount,jdbcType=INTEGER}
    </if>-->
    <if test="contractAmountStart !=null and contractAmountStart !=''">
      and a.contract_build_amount &gt;=concat(#{contractAmountStart, jdbcType=VARCHAR},' 00:00:00')
    </if>
    <if test="contractAmountEnd !=null and contractAmountEnd !=''">
      and a.contract_build_amount &lt;= concat(#{contractAmountEnd, jdbcType=VARCHAR}, ' 23:59:59')
    </if>
    <if test="contractSignDateStart !=null and contractSignDateStart !=''">
      and a.contract_sign_time &gt;= concat(#{contractSignDateStart,jdbcType=VARCHAR},'00:00:00')
    </if>
    <if test="contractSignDateEnd !=null and contractSignDateEnd !=''">
      and a.contract_sign_time &lt;= concat(#{contractSignDateEnd,jdbcType=VARCHAR},'23:59:59')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pro_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huanxink.msys.managesys.model.ProContract">
    insert into pro_contract (id, project_enter_id, project_name, 
      project_no, project_contract_no, contract_sign_time, 
      contract_build_scale, contract_build_amount, 
      contract_type, tender_enter_id, created_time, 
      creater, updated_time, updater
      )
    values (#{id,jdbcType=INTEGER}, #{projectEnterId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, 
      #{projectNo,jdbcType=VARCHAR}, #{projectContractNo,jdbcType=VARCHAR}, #{contractSignTime,jdbcType=TIMESTAMP}, 
      #{contractBuildScale,jdbcType=VARCHAR}, #{contractBuildAmount,jdbcType=DECIMAL}, 
      #{contractType,jdbcType=VARCHAR}, #{tenderEnterId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huanxink.msys.managesys.model.ProContract">
    insert into pro_contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectEnterId != null">
        project_enter_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="projectContractNo != null">
        project_contract_no,
      </if>
      <if test="contractSignTime != null">
        contract_sign_time,
      </if>
      <if test="contractBuildScale != null">
        contract_build_scale,
      </if>
      <if test="contractBuildAmount != null">
        contract_build_amount,
      </if>
      <if test="contractType != null">
        contract_type,
      </if>
      <if test="tenderEnterId != null">
        tender_enter_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectEnterId != null">
        #{projectEnterId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectContractNo != null">
        #{projectContractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractSignTime != null">
        #{contractSignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractBuildScale != null">
        #{contractBuildScale,jdbcType=VARCHAR},
      </if>
      <if test="contractBuildAmount != null">
        #{contractBuildAmount,jdbcType=DECIMAL},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="tenderEnterId != null">
        #{tenderEnterId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huanxink.msys.managesys.model.ProContract">
    update pro_contract
    <set>
      <if test="projectEnterId != null">
        project_enter_id = #{projectEnterId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectContractNo != null">
        project_contract_no = #{projectContractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractSignTime != null">
        contract_sign_time = #{contractSignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractBuildScale != null">
        contract_build_scale = #{contractBuildScale,jdbcType=VARCHAR},
      </if>
      <if test="contractBuildAmount != null">
        contract_build_amount = #{contractBuildAmount,jdbcType=DECIMAL},
      </if>
      <if test="contractType != null">
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="tenderEnterId != null">
        tender_enter_id = #{tenderEnterId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huanxink.msys.managesys.model.ProContract">
    update pro_contract
    set project_enter_id = #{projectEnterId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      project_contract_no = #{projectContractNo,jdbcType=VARCHAR},
      contract_sign_time = #{contractSignTime,jdbcType=TIMESTAMP},
      contract_build_scale = #{contractBuildScale,jdbcType=VARCHAR},
      contract_build_amount = #{contractBuildAmount,jdbcType=DECIMAL},
      contract_type = #{contractType,jdbcType=VARCHAR},
      tender_enter_id = #{tenderEnterId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>