<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxink.msys.managesys.mapper.ProCompletedMapper">
  <resultMap id="BaseResultMap" type="com.huanxink.msys.managesys.model.ProCompleted">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_enter_id" jdbcType="INTEGER" property="projectEnterId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="project_completed_no" jdbcType="VARCHAR" property="projectCompletedNo" />
    <result column="real_build_amount" jdbcType="DECIMAL" property="realBuildAmount" />
    <result column="real_build_area" jdbcType="DECIMAL" property="realBuildArea" />
    <result column="real_build_scale" jdbcType="VARCHAR" property="realBuildScale" />
    <result column="real_start_time" jdbcType="TIMESTAMP" property="realStartTime" />
    <result column="real_completed_time" jdbcType="TIMESTAMP" property="realCompletedTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updater" jdbcType="TIMESTAMP" property="updater" />
  </resultMap>
  <resultMap id="BaseJoinResultMap" type="com.huanxink.msys.managesys.model.dto.ProCompletedDo" extends="BaseResultMap">
    <result column="project_enter_name" jdbcType="VARCHAR" property="proEnterpriseName"/>

  </resultMap>
  <sql id="Base_Column_List">
    id, project_enter_id, project_name, project_no, project_completed_no, real_build_amount, 
    real_build_area, real_build_scale, real_start_time, real_completed_time, created_time,
    creater, updated_time, updater
  </sql>
  <sql id="Base_Join_Column_List">
    a.id, a.project_enter_id, a.project_name, a.project_no, a.project_completed_no, a.real_build_amount,
    a.real_build_area, a.real_build_scale, a.real_start_time, a.real_completed_time, a.created_time,
    a.creater, a.updated_time, a.updater, b.enterprise_name as project_enter_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_completed
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="seacherPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pro_completed
    where 1=1
    <if test="id!=null">
      and id = #{id,jdbcType=INTEGER}
    </if>
  </select>
  <select id="seacherJoinPageList" parameterType="java.util.Map" resultMap="BaseJoinResultMap">
    select
    <include refid="Base_Join_Column_List" />
    from pro_completed a left join enterprise b on a.project_enter_id=b.id
    where 1=1
    <if test="id!=null">
      and a.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="companyName !=null and companyName !=''">
      and b.enterprise_name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
    </if>
    <if test="proName !=null and proName !=''">
      and a.project_name like concat('%',#{proName,jdbcType=VARCHAR},'%')
    </if>
    <if test="buildScale !=null and buildScale !=''">
      and a.real_build_scale like concat('%',#{buildScale,jdbcType=VARCHAR},'%')
    </if>
    <if test="buildAmtStart !=null and buildAmtStart !=''">
      and a.real_build_amount &gt;=#{buildAmtStart, jdbcType=VARCHAR}
    </if>
    <if test="buildAmtEnd !=null and buildAmtEnd !=''">
      and a.real_build_amount &lt;=#{buildAmtEnd, jdbcType=VARCHAR}
    </if>
    <if test="completedTimeStart !=null and completedTimeStart !=''">
      and a.real_completed_time &gt;=concat(#{completedTimeStart, jdbcType=VARCHAR},'00:00:00')
    </if>
    <if test="completedTimeEnd !=null and completedTimeEnd !=''">
      and a.real_completed_time &lt;= concat(#{completedTimeEnd, jdbcType=VARCHAR}, '23:59:59')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pro_completed
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huanxink.msys.managesys.model.ProCompleted">
    insert into pro_completed (id, project_enter_id, project_name, 
      project_no, project_completed_no, real_build_amount, 
      real_build_area, real_build_scale, real_start_time, 
      real_completed_time, created_time, creater, 
      updated_time, updater)
    values (#{id,jdbcType=INTEGER}, #{projectEnterId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, 
      #{projectNo,jdbcType=VARCHAR}, #{projectCompletedNo,jdbcType=VARCHAR}, #{realBuildAmount,jdbcType=DECIMAL}, 
      #{realBuildArea,jdbcType=DECIMAL}, #{realBuildScale,jdbcType=VARCHAR}, #{realStartTime,jdbcType=TIMESTAMP}, 
      #{realCompletedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huanxink.msys.managesys.model.ProCompleted">
    insert into pro_completed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectEnterId != null">
        project_enter_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="projectCompletedNo != null">
        project_completed_no,
      </if>
      <if test="realBuildAmount != null">
        real_build_amount,
      </if>
      <if test="realBuildArea != null">
        real_build_area,
      </if>
      <if test="realBuildScale != null">
        real_build_scale,
      </if>
      <if test="realStartTime != null">
        real_start_time,
      </if>
      <if test="realCompletedTime != null">
        real_completed_time,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectEnterId != null">
        #{projectEnterId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectCompletedNo != null">
        #{projectCompletedNo,jdbcType=VARCHAR},
      </if>
      <if test="realBuildAmount != null">
        #{realBuildAmount,jdbcType=DECIMAL},
      </if>
      <if test="realBuildArea != null">
        #{realBuildArea,jdbcType=DECIMAL},
      </if>
      <if test="realBuildScale != null">
        #{realBuildScale,jdbcType=VARCHAR},
      </if>
      <if test="realStartTime != null">
        #{realStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realCompletedTime != null">
        #{realCompletedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huanxink.msys.managesys.model.ProCompleted">
    update pro_completed
    <set>
      <if test="projectEnterId != null">
        project_enter_id = #{projectEnterId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectCompletedNo != null">
        project_completed_no = #{projectCompletedNo,jdbcType=VARCHAR},
      </if>
      <if test="realBuildAmount != null">
        real_build_amount = #{realBuildAmount,jdbcType=DECIMAL},
      </if>
      <if test="realBuildArea != null">
        real_build_area = #{realBuildArea,jdbcType=DECIMAL},
      </if>
      <if test="realBuildScale != null">
        real_build_scale = #{realBuildScale,jdbcType=VARCHAR},
      </if>
      <if test="realStartTime != null">
        real_start_time = #{realStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realCompletedTime != null">
        real_completed_time = #{realCompletedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huanxink.msys.managesys.model.ProCompleted">
    update pro_completed
    set project_enter_id = #{projectEnterId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      project_completed_no = #{projectCompletedNo,jdbcType=VARCHAR},
      real_build_amount = #{realBuildAmount,jdbcType=DECIMAL},
      real_build_area = #{realBuildArea,jdbcType=DECIMAL},
      real_build_scale = #{realBuildScale,jdbcType=VARCHAR},
      real_start_time = #{realStartTime,jdbcType=TIMESTAMP},
      real_completed_time = #{realCompletedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>